extends layout.pug

block content
  p log in
  form(action='/login', method='POST')
    fieldset
      legend Log in form
      input(type='email', name='email', placeholder='email')
      input(type='password', name='password', placeholder='password')
      input(type='submit', value='log in')